.main-content {
  margin-top: 130px;
  margin-left: 55px;
  margin-right: 55px;
  color: white;
}

.header {
  font-size: 37px;
  margin-left: 20px;
  font-weight: bold;
  letter-spacing: 7px;
  font-family: 'DynaPuff', cursive;
}
