<div class="main-content">

  <div class="header">
    <h1>Comenzile tale</h1>
  </div>

  <div *ngFor="let order of orders" >
      <div class="orders">
        <div class="text">
          <b>Cafenea:</b> {{order.coffeeShopName}}
          <b>  Adresa: </b> {{order.address}}
          <b>  Total: </b> {{order.totalPrice}} ron
        </div>
      </div>
  </div>


  <div class="empty-cart" *ngIf="orders.length==0">
    <div class="info-text">
      <p> Nu ai plasat nici o comanda</p>
    </div>


  </div>
</div>


