.main-content {
  margin-top: 130px;
  margin-left: 55px;
  margin-right: 55px;
  color: white;
}

.header {
  font-size: 37px;
  margin-left: 20px;
  font-weight: bold;
  letter-spacing: 7px;
  font-family: 'DynaPuff', cursive;
}

.orders{
  background-color: lightgoldenrodyellow;
  margin-top: 20px;
  color:black;
  height: 35px;
  font-size: 30px;
  margin-left: 7%;
  margin-right: 20%;
  border-radius: 15px;
  overflow: auto;
  padding: 5px; /* Adding padding to ensure the text doesn't touch the border */

}
.text{
  margin-left: 20px;
}
