
.main-section.page-m{
  padding:  175px 30% 30% 5%
}

.section-content{
  position:relative;
  margin:0 auto;
  z-index: 0;
}

.section-content-p30{
  padding:0 30px
}


.form-area{
  background:#e5e5e5;
  position:relative;
  margin-bottom:45px;
  padding:50px 20px;
  border:3px solid #ccc
}

.input-space{
  margin-bottom:20px;
  margin-left: 10px;
}

