
.main-section.page-m{
  padding:  175px 30% 30% 5%
}

.section-content{
  position:relative;
  margin:0 auto;
  z-index: 0;
}

.section-content-p30{
  padding:0 30px
}


.form-area{
  background:lightgoldenrodyellow;

  position:relative;
  margin-bottom:45px;
  padding:50px 20px;
  border:3px solid lightcyan;
  border-radius: 20px;

}

.input-space{
  background-color: lightcyan;
  margin-left: 50px;
  margin-top: 20px;
}

.radio-buttons{
  margin-bottom: 20px;
}
.alert{
  color: red;
  margin-top: 3px;
}

.row{
  margin-left: 50px;
  margin-top: 10px;
}
p{
  margin-left: 50px;
}
h3{
  margin-left: 35px;
}

.submit-button{
  background-color: lightgoldenrodyellow;
  border: 3px;
  margin-left: 15px;
  font-size: 20px;
  border-radius: 10px;
}

