<div class="about-us-text">

  <h1> Despre noi</h1>
  <div class="despre-noi-info">
    <p> Pe site-ul nostru, vei găși o gama variată de cafea de la cafenelele din Timișoara. Poți alege dintre diferitele
      tipuri de cafea, precum espresso, cappuccino, latte și multe altele.</p>
    <p>Pe lângă cafea, site-ul nostru oferă și o serie de avantaje pentru persoanele care își creează un cont, cum ar fi
      oferta "5+1 GRATIS" sau alte oferte speciale săptămânal</p>
    <p>Plasarea unei comenzi pe site-ul nostru este foarte simplă și convenabilă. Alegi cafeneaua preferată(sau cea mai
      apropiată de ține), selectezi cafeaua pe care o dorești și comanzi.Plata se poate face cash sau cu cardul, iar
      livrearea se face rapid, în cutiile noastre speciale, astfel încât să puteți savura cafeaua dumneavoastră caldă
      cât mai curând posibil.</p>
    <p>Pentru mai multe detalii, nu ezită să ne contactezi!</p>
  </div>

</div>
