.about-us-text {
  margin-top: 175px;
  margin-left: 100px;
  margin-right: 100px;
}

h1 {
  color: white;
  font-size: 70px;
  letter-spacing: 10px;
  font-weight: bold;
}

.despre-noi-info {
  color: white;
  font-size: 20px;
}
